<h3>Produtos</h3>

<a href="#/vacancies/create" class="btn btn-success btn-lg pull-right">
    <i class="fa fa-plus"></i> Adicionar
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Descrição</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                <input type="text" class="form-control" ng-model="filter" value="" placeholder="Filtrar..." />
            </td>
        </tr>
        <tr ng-repeat="vacancy in vm.vacancies | filter: filter">
            <td class="text-center">{{ vacancy.id }}</td>
            <td class="text-center">{{ vacancy.description }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="#/vacancies/edit/{{ vacancy.id }}" class="btn btn-group btn-default btn-sm"><i class="fa fa-edit">Editar</i></a>
                    <a href="#/vacancies/remove/{{ vacancy.id }}" class="btn btn-group btn-danger btn-sm"><i class="fa fa-remove">Apagar</i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>