<div class="page-header">
    <br />
    <h1>Usuários do GitHub</h1>
    <div ng-show="loading">Carregando...</div>
    <div ng-show="RepoNotFound">Nenhum Repositório foi encontrado</div>
	<p>
        <a class="btn btn-primary" onclick="goBack()">Voltar</a>
    </p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in RepoData">
                    <td>{{ x.id }}</td>
                    <td>{{ x.name }}</td>
                    <td><a target="_blank" href="{{ x.html_url }}">{{ x.html_url }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <a class="btn btn-primary" onclick="goBack()">Voltar</a>
    </p>
</div>