<div class="page-header">
    <br/>
    <h1>Usuários do GitHub</h1>
    <div ng-show="loading">Carregando...</div>
    <div ng-show="userNotFound">Nenhum Usuário foi encontrado</div>
    <p ng-repeat="x in [UsersData[UsersData.length-1]] track by $index">
        <a class="btn btn-primary" href="#/github/users/0">Primeiro</a>
		<a class="btn btn-primary" href="#/github/users/{{x.id - 82}}">Anteriores</a>
        <a class="btn btn-primary" href="#/github/users/{{x.id}}">Próximos</a>
    </p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in UsersData">
                    <td>{{ x.id }}</td>
                    <td>{{ x.login }}</td>
                    <td><a class="btn btn-primary btn-xs" href="#/github/user/detail/{{ x.login }}">Detalhes</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p ng-repeat="x in [UsersData[UsersData.length-1]] track by $index">
        <a class="btn btn-primary" href="#/github/users/0">Primeiro</a>
		<a class="btn btn-primary" href="#/github/users/{{x.id - 82}}">Anteriores</a>
        <a class="btn btn-primary" href="#/github/users/{{x.id}}">Próximos</a>
    </p>
</div>