<div class="jumbotron">
    <h1>Entrevista</h1>
    <p class="lead">Web API para triagem de candidatos à vagas abertas, através de entrevista individual</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Iniciar Triagem</h2>
        <p>
            <ol>
                <li>Cadastrar as tecnologias da empresa</li>
                <li>Cadastrar uma vaga</li>
                <li>Relacionar as tecnologias à vaga</li>
                <li>Cadastrar os candidatos relacionando as tecnologias conhecidas com seu respecitvo nívell de conhecimento</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Finalizar triagem</h2>
        <p>Para finalizar a triagem, deverá ser informado o peso para cada tecnologia relacionada à vaga</p>
    </div>
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>Para saber mais detalhes sobre os métodos clique em API no menu acima</p>
    </div>
</div>
